t_usbmanager_thumb_81a$rom,lubbock,-D_SERIAL_DOWNLOAD -DSTATAUTO -DRVCT -D_EABI=thumb -DPLATSEC,techview_StatAPI t_usbmanager
t_usbmanagercomp4_thumb_81a$rom,lubbock,-D_SERIAL_DOWNLOAD -DSTATAUTO -DRVCT -D_EABI=thumb -DPLATSEC,techview_StatAPI t_usbmanagercomponent_4
t_usbmanagercomp5_thumb_81a$rom,lubbock,-D_SERIAL_DOWNLOAD -DSTATAUTO -DRVCT -D_EABI=thumb -DPLATSEC,techview_StatAPI t_usbmanagercomponent_5