t_usbmanager_armv5_90$rom,lubbock,-D_SERIAL_DOWNLOAD -DSTATAUTO -DRVCT -D_EABI=armv5 -DPLATSEC,techview_StatAPI t_usbmanager
t_usbmanagercomp4_armv5_90$rom,lubbock,-D_SERIAL_DOWNLOAD -DSTATAUTO -DRVCT -D_EABI=armv5 -DPLATSEC,techview_StatAPI t_usbmanagercomponent_4
t_usbmanagercomp5_armv5_90$rom,lubbock,-D_SERIAL_DOWNLOAD -DSTATAUTO -DRVCT -D_EABI=armv5 -DPLATSEC,techview_StatAPI t_usbmanagercomponent_5