testdriver=h:\testdriver\bin
tdlogs=h:\testdriver\results
logdir=h:\build\logs
romdir=h:\epoc32\rom
mainlog=h:\build\thumb.81a.logs.html

[tests]
usbmanagertest.singlerom,thumb,urel,t_usbmanager_thumb_81a$rom.zip
usbmanagertest.individualrom.t_usbmancomponent_4,thumb,urel,t_usbmanagercomp4_thumb_81a$rom$rom.zip
usbmanagertest.individualrom.t_usbmancomponent_5,thumb,urel,t_usbmanagercomp5_thumb_81a$rom.zip