testdriver=h:\testdriver\bin
tdlogs=h:\testdriver\results
logdir=h:\build\logs
romdir=h:\epoc32\rom
mainlog=h:\build\armv5.81b.logs.html

[tests]
usbmanagertest.singlerom,armv5,urel,t_usbmanager_armv5_81b$rom.zip
usbmanagertest.individualrom.t_usbmancomponent_4,armv5,urel,t_usbmanagercomp4_armv5_81b$rom$rom.zip
usbmanagertest.individualrom.t_usbmancomponent_5,armv5,urel,t_usbmanagercomp5_armv5_81b$rom.zip